* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.upper_sections {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 24px;
    border-bottom: 1px solid #d0d7de;
    background: #fff;
}

/* Левая часть */
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 32px;
}

/* Кнопки-ссылки */
.nav-left a {
    text-decoration: none;
    color: #24292f;
    font-size: 14px;
    font-weight: 500;
}

.nav-left a:hover {
    color: #0969da;
}

/* Правая часть */
.nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Search */
.search {
    padding: 6px 12px;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    font-size: 14px;
    width: 220px;
}

/* Dashboard button */
.dashboard-btn {
    padding: 6px 14px;
    border: 1px solid #d0d7de;
    background: white;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.dashboard-btn:hover {
    background: #f6f8fa;
}


body {
    background-color: #ffffff;
    color: #24292f;
    font-family: "Mona Sans", sans-serif;
}

.header {
    text-align: center;
    padding: 80px 20px;
    font-size: 16px;
}

.header h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 16px;
}

.header p {
    color: #57606a;
    max-width: 700px;
    margin: 0 auto 24px;
}

.main-btn {
    background: #24292f;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.pricing {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 40px;
}

/* Cards */
.card {
    width: 400px;
    border: 1px solid #d0d7de;
    border-radius: 12px;
    padding: 24px;
    background: #fff;
    text-align: center;
    
}

.card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.subtitle {
    color: #57606a;
    font-size: 14px;
    margin-bottom: 20px;
}

.price {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price span {
    font-size: 14px;
    color: #57606a;
}

.btn-outline {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    background: white;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-dark {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    background: #24292f;
    color: white;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}
.two_price_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.two_price_buttons button {
    flex: 1;
    margin-bottom: 0;
}

.card ul {
     margin-top: 20px;
}

.card ul li {
    font-size: 14px;
    color: #57606a;
    margin-bottom: 10px;
}

.recommended {
    border: 2px solid #0969da;
    position: relative;
    text-align: center;
}

.badge {
    position: absolute;
    top: -12px;
    right: 20px;
    background: #0969da;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
}
.left_icon{
    margin: 20px 30px;
    width: 30px;
}
.card ul li {
    position: relative;
    padding-left: 20px; /* Отступ для текста */
    text-align: left; /* Выравниваем текст по левому краю */
    margin-bottom: 12px; /* Расстояние между элементами */
}